.item {
    background-color: #f1f5f9;
    vertical-align: middle;
}
.item:nth-child(odd), #heading {
    background-color: #e7ecf3;
}
.item:hover {
    background-color: #e1e4e8;
}

#heading th {
    border: 3px solid white;
    padding: 7px 15px;
    color: #979696;
    font-size: 0.75em;
}