@media screen and (min-width: 992px) {
    .search {
        width: 180px;
        border:none;
        margin-top: -42px;
        margin-right: 240px;
        float: right;
    }
    .logo-tab {
        display: none;
    }
    .menu-tab {
        display: none;
    }
    .wrapper {
        width: 100%;
        margin: 40px auto;
    }
    .header {
        width: 61%;
        margin: 0 auto;
        height: 100px;
    }
}

@media screen and/* (min-width: 768px) */ (max-width: 991px) {
    .icons {
        display: none;
    }
    .menu__hr {
        display: none;
    }
    .menu {
        display: none;
    }
    .header {
        width: 61%;
        margin: 0 auto;
    }
    .logo {
        display: none;
    }
    .search {
        border:none;
        margin: -34px 0;
        float: right;
    }
    .wrapper {
        width: 100%;
        margin: 0 auto;
    }
    .logo-tab {
        width: 150px;
        margin: 0 auto;
    }
    .logo-tab img {
        width: 150px;
    }
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open sans', sans-serif;
    font-size: 10px;
}


.logo {
    width: 270px;
}
.logo img {
    width: 270px;
}

.icons {
    float: right;
    position: relative;
    top: -20px;
    right: 35px;
}
.icons__item {
    position: relative;
    display: inline-block;
    padding: 0 14px;
}
.icons__item:not(:last-child) {
    border-right: 1px solid #eceef4; 
}
.icons__item--locale {
    position: absolute;
    background: #ffffff;
    border: 2px solid #d4d4d5;
    padding: 12px 20px;
    width: 120px;
    text-align: center;
    top: -58px;
    left: -61px;
    border-radius: 5px;
}

.icons__item--locale::after, .icons__item--locale::before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.icons__item--locale::after {
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #ffffff;
	border-width: 10px;
	margin-left: -10px;
}

.icons__item--locale::before {
	border-color: rgba(212, 212, 213, 0);
	border-top-color: #d4d4d5;
	border-width: 13px;
	margin-left: -13px;
}

.slider {
    background: url(img/main.png) no-repeat;
    background-size: contain;
    width: 100%;
    height: 100vh;
    position: relative;
}
.slider__heading {
    font-size: 3rem;
    font-weight: 600;
    color: #fff;
    line-height: 2rem;
    position: absolute;
    top: 25%;
    left: 30%;
}
.menu__hr {
    background: #eceef4;
    border: 0;
    height: 1px;
}

.menu {
    padding-left: 20px;
    position: relative;
    width: 61%;
    margin: 0 auto;
}
.menu__item {
    display: inline-block;
    position: relative; 
}
.menu__item:not(:first-child) {
    border-left: 1px solid #eceef4;
}

.search::before {
    content: url(img/search.png);
    margin-left: -30px;
    position:absolute;
}
input[type="search"] {
    font-size: 0.7rem;
    border: none;
    height: 20px;
}
.menu__link {
    display:block;
    height:100%;
    text-decoration: none;
    color: #6d6e71;
    font-weight: 700;
    padding: 24px 11px;
}
.menu__link:hover {
    color: #1faae2;
    text-transform: uppercase;
}
.menu__item:hover::after {
    bottom: 0;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    border-color: rgba(31, 170, 226, 0);
    border-bottom-color: #1faae2;
    border-width: 8px;
    margin-left: -8px;
}
.menu-tab {
    height: 40px;
    padding: 5px 0 5px 20px;
}